body {
  overflow-x: hidden;
}
body p {
  font-size: 20px;
}
body p.small {
  font-size: 16px;
}
body a,
body a:hover,
body a:focus,
body a:active,
body a.active {
  color: #3b5998;
  outline: none;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
body .navbar {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
body .navbar a:focus {
  outline: none;
}
body .navbar-default,
body .navbar-inverse {
  border: none;
}
body ul.without {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body li.without {
  float: left;
  margin-left: 35px;
}
body .font-center {
  text-align: center;
  border: 1px solid #e9eaed;
  margin: 10px;
}
body .bottom {
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 0 0 1px 0;
}
body .bold {
  font-weight: bolder;
  color: #000000;
}
@media screen and (min-device-width: 439px) and (max-device-width: 10000px) {
  body .text-alignn {
    position: relative;
    top: -30px;
    left: 70px;
    font-size: 14px;
    font-weight: bold;
    color: #3b5998;
  }
}
@media screen and (min-device-width: 0px) and (max-device-width: 438px) {
  body .text-alignn {
    position: relative;
    top: -19px;
    left: 70px;
    font-size: 14px;
    font-weight: bold;
    color: #3b5998;
  }
}
@media screen and (min-device-width: 540px) and (max-device-width: 10000px) {
  body .share-share {
    position: relative;
    top: -115px;
    border-top: 1px solid #e9eaed;
  }
}
@media screen and (min-device-width: 431px) and (max-device-width: 539px) {
  body .share-share {
    position: relative;
    top: -145px;
    border-top: 1px solid #e9eaed;
  }
}
@media screen and (min-device-width: 385px) and (max-device-width: 430px) {
  body .share-share {
    position: relative;
    top: -185px;
    border-top: 1px solid #e9eaed;
  }
}
@media screen and (min-device-width: 0px) and (max-device-width: 384px) {
  body .share-share {
    position: relative;
    top: -15px;
    border-top: 1px solid #e9eaed;
  }
}
body .con-main.side-main {
  max-height: 310px;
}
body .share-share.img {
  top: -20px;
}
body span.top-logo-pp {
  top: 10px;
  position: relative;
  left: 10px;
}
body .logo-prof {
  max-width: 10%;
  height: auto;
  border: 1px solid #e9eaed;
}
body .date {
  font-size: 10px;
  color: #9197a3;
  font-weight: normal;
}
@media screen and (min-device-width: 439px) and (max-device-width: 10000px) {
  body .text-link-1st {
    position: relative;
    top: -40px;
    max-width: 400px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
  }
}
@media screen and (min-device-width: 0px) and (max-device-width: 438px) {
  body .text-link-1st {
    position: relative;
    top: -30px;
    max-width: 400px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
  }
}
body .first-box-main {
  position: relative;
  border: 1px solid #e9eaed;
  top: -30px;
  margin: 10px;
}
body .img-border {
  border: 1px solid #e9eaed;
}
@media screen and (min-device-width: 540px) and (max-device-width: 10000px) {
  body .below-text {
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: -190px;
    left: 170px;
    max-width: 270px;
    display: block;
  }
}
@media screen and (min-device-width: 430px) and (max-device-width: 539px) {
  body .below-text {
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: -190px;
    left: 170px;
    max-width: 200px;
    display: block;
  }
}
@media screen and (min-device-width: 384px) and (max-device-width: 429px) {
  body .below-text {
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: -190px;
    left: 170px;
    max-width: 100px;
    display: block;
  }
}
@media screen and (min-device-width: 0px) and (max-device-width: 383px) {
  body .below-text {
    display: none;
  }
}
body p.share-font {
  margin-top: 20px;
  margin-left: 20px;
  color: #7f7f7f;
  font-size: 12px;
}
body .last-box {
  position: relative;
  top: -30px;
}
body .last-text {
  font-size: 10px;
  color: #7f7f7f;
}
body .first-col-last-text {
  font-size: 12px;
  color: #7f7f7f;
}
body .font-centered {
  text-align: center;
  margin: 10px;
}
body .light-like {
  color: #7f7f7f;
}
body .link {
  font-size: 12px;
}
body .visitor-text {
  font-size: 12px;
  color: #7f7f7f;
}
body li.border {
  border: 1px solid #e9eaed;
  margin-left: 10px;
}
body .timeline-text {
  margin-top: 20px;
  z-index: 999;
}
body li.without.hover:hover {
  border-bottom: 5px solid #e9eaed;
  cursor: pointer;
}
body li.without.hover:active {
  border-bottom: 5px solid #3b5998;
  cursor: pointer;
}
body li.without.active {
  border-bottom: 5px solid #3b5998;
  cursor: pointer;
}
body .img-banner-box {
  background-color: white;
  border-bottom: 1px solid #e9eaed;
  max-height: 352px;
  max-width: 850px;
}
body .img-banner-box .img-responsivebanner {
  max-width: 100%;
  height: auto;
}
body .img-banner-box .logo-main-profile {
  position: relative;
  z-index: 20;
  max-width: 12%;
  top: -40px;
  left: 40px;
  border: 1px solid gray;
}
@media screen and (min-width: 1003px) {
  body .img-banner-box .gayab {
    display: block;
  }
}
@media screen and (min-device-width: 0px) and (max-device-width: 1002px) {
  body .img-banner-box .gayab {
    display: none;
  }
}
body .img-banner-box .font-title {
  padding-left: 180px;
  position: relative;
  top: -50px;
}
@media screen and (min-device-width: 992px) and (max-device-width: 100000px) {
  body .img-banner-box .hedare-text-main {
    position: absolute;
    z-index: 50;
    top: 250px;
    left: 170px;
    color: #ffffff;
  }
}
@media screen and (min-device-width: 773px) and (max-device-width: 991px) {
  body .img-banner-box .hedare-text-main {
    position: absolute;
    z-index: 50;
    top: 200px;
    left: 170px;
    color: #ffffff;
  }
}
@media screen and (min-device-width: 690px) and (max-device-width: 772px) {
  body .img-banner-box .hedare-text-main {
    position: absolute;
    z-index: 50;
    top: 170px;
    left: 170px;
    color: #ffffff;
  }
}
@media screen and (min-device-width: 580px) and (max-device-width: 689px) {
  body .img-banner-box .hedare-text-main {
    position: absolute;
    z-index: 50;
    top: 120px;
    left: 170px;
    color: #ffffff;
  }
}
@media screen and (min-device-width: 0px) and (max-device-width: 579px) {
  body .img-banner-box .hedare-text-main {
    display: none;
  }
}
body .con-main {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}
body .con-main .header-fb {
  color: #4e5665;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  padding: 15px;
}
body .con-main .btn-default:hover {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
}
body .con-main .btn-default {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
}
body .con-main input.form-control {
  border: none;
}
body .con-main .IInd-img {
  max-height: 400px;
}
body .con-main .IIIrd-img {
  max-height: 500px;
}
